.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-hero__heading {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
}

.home-hero__heading,
.home-hero__heading .home-hero__heading-text {
  position: relative;
}

.home-hero__heading .home-hero__heading-text {
  display: flex;
  flex-direction: column;
}

.home-hero__heading .home-hero__heading-text>span {
  display: flex;
}

.home-hero__heading .home-hero__heading-text>span span {
  display: block;
  position: relative;
}

.home-hero__heading .home-hero__heading-text>span span.clip {
  overflow: hidden;
}

.home-hero__heading .home-hero__heading-text .home-hero__anything .a,
.home-hero__heading .home-hero__heading-text .home-hero__anything .m {
  perspective: 750px;
  position: relative;
}

.home-hero__heading .home-hero__heading-text .home-hero__anything {
  margin-left: 1em;
}



.home-hero__heading .home-hero__heading-text .home-hero__animate .r>span>span>span {
  backface-visibility: hidden;
}

.home-hero__heading .home-hero__heading-text .home-hero__animate .h>span>span>span:last-child,
.home-hero__heading .home-hero__heading-text .home-hero__animate .n>span>span:last-child {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  visibility: hidden;
}

.home-hero__heading .home-hero__heading-text .home-hero__anything .d span,
.home-hero__heading .home-hero__heading-text .home-hero__anything .r span {
  position: relative;
}

.home-hero__heading .home-hero__heading-text .home-hero__anything .d span:first-child,
.home-hero__heading .home-hero__heading-text .home-hero__anything .r span:first-child {
  font-weight: 400;
}

.home-hero__flair {
  font-size: 0;
  position: absolute;
  z-index: -1
}

.home-hero__flair img,
.home-hero__flair svg {
  height: 100%;
  width: 100%;
}

.home-hero__flair--star svg {
  height: 87%;
  width: 87%;
}

.home-hero__flair--circles {
  left: max(.3125rem, min(.323625vw + .23665rem, .625rem));
  visibility: hidden;
}

.home-hero__flair--circles,
.home-hero__flair--windmill {
  height: max(1.9375rem, min(6.86084vw + .32949rem, 6rem));
  top: max(-5.75rem, min(-4.78964vw - .00242718rem, -1.125rem));
  width: max(1.9375rem, min(6.86084vw + .32949rem, 6rem));
}

.home-hero__flair--windmill {
  left: -1.5rem;
}

.home-hero__flair--star {
  bottom: max(.5625rem, min(.970874vw + .334951rem, 1.5rem));
  height: max(2.5rem, min(7.11974vw + .831311rem, 6.5rem));
  left: max(.25rem, min(.582524vw + .113471rem, .8125rem));
  visibility: hidden;
  width: max(2.5rem, min(7.11974vw + .831311rem, 6.5rem));
}

.home-hero__flair--worm {
  bottom: max(-4.375rem, min(-2.589vw - 1.2682rem, -1.875rem));
  height: max(3.125rem, min(8.34952vw + 1.16808rem, 7rem));
  left: 0;
  transform: rotate(25deg);
  width: max(1.875rem, min(4.85437vw + .737257rem, 4rem));
}

.home-hero__flair--bolt {
  height: max(4.375rem, min(12.2977vw + 1.49272rem, 8rem));
  left: 50%;
  transform: translateX(-50%);
  top: max(.0625rem, min(.323625vw - .0133495rem, .375rem));
  visibility: hidden;
  width: max(2.1875rem, min(6.14887vw + .746359rem, 8.125rem));
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.heading-xl {
  font-family: codec, sans-serif;
  font-size: max(3.125rem, min(13.3333vw + 2rem, 11rem));
  font-weight: 600;
  letter-spacing: -.02em;
  line-height: .9;
  color: #fff;
  display: flex;
  flex-direction: column;
}


.social {
  left: 10%;
  height: 17rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  position: absolute;
  bottom: 0;
  scale: 20rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
}

.social-icons a img {
  height: 2rem;
  width: 2rem;
  filter: brightness(0) invert(1);
  transition: filter 0.3s ease;
}

.v-line {
  height: 100%;
  width: 2px;
  background-color: #FFF;
}

.secondhead {
  width: 13rem;
}

.subhead {
  font-family: codec2;
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
  letter-spacing: .1rem;
  text-align: center;
  line-height: 1.2;
}

.subhead span {
  color: #0ae448;
  display: inline-block;
  margin-right: 10px;
}

.herobutton {
  position: relative;
  width: 130px;
  height: 40px;
  cursor: pointer;
  display: none;
  align-items: center;
  border: 1px solid #0ae448;
  border-radius: 20px;
  background-color: transparent;
  overflow: hidden;
  margin: 2rem auto auto auto;
}

.herobutton, .button__icon, .button__text {
  transition: all 0.3s;
}

.herobutton .button__text {
  transform: translateX(22px);
  color: #fffce1;
  font-weight: 600;
}

.herobutton .button__icon {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.herobutton .svg {
  width: 20px;
  fill: #fff;
}

.herobutton:hover .button__text {
  color: transparent;
}

.herobutton:hover .button__icon {
  width: 110px;
  transform: translateX(0);
}

.herobutton:active {
  border: 1px solid #0ae448;
}

.h-line {
  position: absolute;
  height: .09rem;
  background-color: #373737;
  width: 90%;
  bottom: 0;
}


@media (max-width: 600px) {

  
  .heading-xl {
    align-items: center;
    margin-top: 4rem;
  }

  .home-hero__heading .home-hero__heading-text .home-hero__anything {
    margin-left: 0;
  }

  .social-icons a img {
    height: 2.2rem;
    width: 2.2rem;
  }

  .social{
    height: 17rem;
    gap: .5rem;
  }

  .social-icons {
    gap: .5rem;
  }

  .subhead {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .herobutton {
    display: flex;
  }

}

@media (max-width: 360px) {
  .heading-xl {
    margin-top: 0rem;
  }
}