.about {
    min-height: 115vh;
    width: 90%;
    position: relative;
}

.about-container {
    margin-left: 8rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.about-container h1 {
    font-size: 8rem;
    color: #fff;
    font-family: codec;
    font-weight: 400;
    overflow: hidden;
}

.about p {
    font-size: 1.6rem;
    font-weight: 300;
    word-spacing: 5px;
    width: 70%;
    white-space: preline;
}


.about span {
    color: #0ae448;
}

.about .char {
    margin-top: .2rem;
}

.hline-anime {
    position: absolute;
    height: .09rem;
    background-color: #373737;
    width: 100%;
    bottom: 0;
  }

  .about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

  video {
    width: 35rem;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 600px) {
    .about h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .about p {
        font-size: 1.4rem;
        width: auto;
        line-height: 120%;
    }

    .about-wrapper {
        flex-direction: column;
        margin-top: 3rem;
    }

    video {
        width: 100%;
    }

    .about .char {
        margin-top: .6;
    }

    .about-container {
        margin-left: auto;
    }
}
