.header {
    background-color: #0E100F;
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: .09rem solid #373737;
    height: 5rem;
}

.portfolio {
    font-family: codec;
    font-size: 2.8rem;
    color: #fff;
}

.portfolio div{
    height: 10px;
    width: 10px;
    background: linear-gradient(114.41deg, #0ae448 20.74%, #abff84 65.5%);
    display: inline-block;
    border-radius: 50%;
    margin-left: 4px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: max(5rem, min(5.73529vw - 2.44485rem, 4.4375rem));
}

.nav li {
    list-style-type: none;
    text-decoration: none;
    transition: color .3s cubic-bezier(.645, .045, .355, 1);
    cursor: pointer;
}

.nav li h4 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #7c7c6f;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav li:nth-child(1) a{
    color: #fff;
}
.nav a {
  color: #615f5f;
  text-decoration: none;
  transition: .3s ease;
}

.nav a:hover {
  color: #fff;
}

.button {
    position: relative;
    width: 130px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #0ae448;
    border-radius: 20px;
    background-color: transparent;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    right: 10px;
    height: 100%;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 110px;
    transform: translateX(0);
  }
  
  .button:active {
    border: 1px solid #0ae448;
  }
  

@media (max-width: 600px) {
    .nav {
        display: none;
    }

    .button {
        display: none;
    }

    .portfolio {
        font-size: 2rem;
    }
}