.footer {
    min-height: 45vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.foot-container {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.foot-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.nav-items ul li {
    font-size: 1.6rem;
    list-style-type: none;
    font-family: codec;
    margin-bottom: .7rem;
}

.nav-items a {
    color: #615f5f;
    text-decoration: none;
    transition: .3s ease;
}

.nav-items a:hover {
    color: #fff;
}


.copyright {
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    color: #7f7e7a;
}

@media (max-width: 600px) {

    .foot-container {
        flex-direction: column;
        width: 60%;
        gap: 3rem;
    }

}