* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@600&display=swap');


@font-face {
  font-family: Mori;
  src: url('./Assets/Fonts/PPMori-SemiBold.otf');
}

@font-face {
  font-family: codec;
  src: url('./Assets/Fonts/Codec-Warm-ExtraBold-trial.ttf');
}

@font-face {
  font-family: codec2;
  src: url('./Assets/Fonts/Codec-Cold-Regular-trial.ttf');
}

body {
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-family: 'poppins', sans-serif;
  background-color: #0E100F;
  color: #fff;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}


